In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np, pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv("data/preprocessed_train.csv")
df.head().T

,0,1,2,3,4
MasterDataTime,2009-06-15 17:26:21.0000001,2010-01-05 16:52:16.0000002,2011-08-18 00:35:00.00000049,2012-04-21 04:30:42.0000001,2010-03-09 07:51:00.000000135
fare_amount,4.5,16.9,5.7,7.7,5.3
pickup_datetime,2009-06-15 17:26:21 UTC,2010-01-05 16:52:16 UTC,2011-08-18 00:35:00 UTC,2012-04-21 04:30:42 UTC,2010-03-09 07:51:00 UTC
pickup_longitude,-73.8443,-74.016,-73.9827,-73.9871,-73.9681
pickup_latitude,40.7213,40.7113,40.7613,40.7331,40.768
dropoff_longitude,-73.8416,-73.9793,-73.9912,-73.9916,-73.9567
dropoff_latitude,40.7123,40.782,40.7506,40.7581,40.7838
passenger_count,1,1,2,1,1
EDT,2009-06-15 21:26:21,2010-01-05 20:52:16,2011-08-18 04:35:00,2012-04-21 08:30:42,2010-03-09 11:51:00
Hour,21,20,4,8,11
Weekday,Monday,Tuesday,Thursday,Saturday,Tuesday
AMorPM,PM,PM,AM,AM,AM

In [4]:
target = 'fare_amount'
features = ['passenger_count','Hour','Weekday','AMorPM']
# more feats
features.extend(['pickup_longitude',
                 'pickup_latitude',
                 'dropoff_longitude',
                 'dropoff_latitude'])

# numericalising
for col in features:
    if df[col].dtype == 'object':
        df[col] = df[col].astype("category").cat.codes

In [5]:
df = df.dropna()
X = df[features].copy().values
y = df[target].copy().values

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
model_baseline = RandomForestRegressor(n_estimators=400, 
                                       max_depth=5,
                                       min_impurity_split=3,).fit(X_train, y_train)

# r2 score
model_baseline.score(X_train, y_train)

In [ ]:
model_baseline.score(X_test, y_test)

In [ ]:
preds_baseline = model_baseline.predict(X_test)

In [ ]:
np.sqrt(mean_squared_error(y_test, preds_baseline))